[submodule "01-wait-forever"]
	path = 01-wait-forever
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 01-wait-forever
[submodule "02-runtime-init"]
	path = 02-runtime-init
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 02-runtime-init
[submodule "03-hacky-hello-world"]
	path = 03-hacky-hello-world
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 03-hacky-hello-world
[submodule "04-safe-globals"]
	path = 04-safe-globals
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 04-safe-globals
[submodule "05-drivers-gpio-uart"]
	path = 05-drivers-gpio-uart
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 05-drivers-gpio-uart
[submodule "06-uart-chainloader"]
	path = 06-uart-chainloader
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 06-uart-chainloader
[submodule "07-timestamps"]
	path = 07-timestamps
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 07-timestamps
[submodule "08-hw-debug-jtag"]
	path = 08-hw-debug-jtag
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 08-hw-debug-jtag
[submodule "09-privilege-level"]
	path = 09-privilege-level
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 09-privilege-level
[submodule "10-virtual-mem-part1"]
	path = 10-virtual-mem-part1
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 10-virtual-mem-part1
[submodule "11-exceptions-part1"]
	path = 11-exceptions-part1
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 11-exceptions-part1
[submodule "12-integrated-testing"]
	path = 12-integrated-testing
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 12-integrated-testing
[submodule "13-exceptions-part2"]
	path = 13-exceptions-part2
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 13-exceptions-part2
[submodule "14-virtual-mem-part2"]
	path = 14-virtual-mem-part2
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 14-virtual-mem-part2
[submodule "15-virtual-mem-part3"]
	path = 15-virtual-mem-part3
	url = ssh://git@github.com/FlamingosProject/flamingos.git
	branch = 15-virtual-mem-part3
