[submodule "01-wait-forever"]
	path = 01-wait-forever
	url = https://github.com/FlamingosProject/flamingos-preview.git
	branch = 01-wait-forever
[submodule "02-runtime-init"]
	path = 02-runtime-init
	url = https://github.com/FlamingosProject/flamingos-preview.git
	branch = 02-runtime-init
[submodule "03-hello-world"]
	path = 03-hello-world
	url = https://github.com/FlamingosProject/flamingos-preview.git
	branch = 03-hello-world
[submodule "04-safe-globals"]
	path = 04-safe-globals
	url = https://github.com/FlamingosProject/flamingos-preview.git
	branch = 04-safe-globals
